.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 30px;
    color: white;
}

.example-sidenav-container {
    flex: 1;
}

.btnMenu {
    color: white;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}

.example-toolbar {
    background-color: #003F72;
}

.sideB {
    background-color: #EAAB00;
    color: white;
}

.sideB .mat-nav-list a {
    color: #003F72 !important;
    font-weight: bold;
}

.sideB .mat-icon {
    color: black;
}

#salir {
    position: relative;
    left: 75%;
    color: azure;
}