<hr color="yellow" size=2>
<!-- <div class="container">
    <h2>FICHA TÉCNICA DE PRODUCTO</h2>
</div> -->

<div class="container">
    <h2>
        <strong>
            FICHA TÉCNICA DE PRODUCTO: {{nombreSubcategoria}}
        </strong>
    </h2>
</div>

<hr color="yellow" size=2>


<div class="container" id="formulario">
    <div class="col text-center">
        <button mat-raised-button class="botones" color="primary" [routerLink]="['/visualiza/', subcategoria]">Visualizar Alimentos</button>
        <!-- <app-modal-objetos (objetoId)="procesaPropagar($event)"></app-modal-objetos> -->
        <button mat-raised-button class="botones" color="primary" routerLink="/dashboard" routerLinkActive="active">Categorías</button>

    </div>
</div>
<br>

<!-- <div class="container mt-5">
    <h2>Google Login</h2>
    <div class="row mt-5">
        <div class="col-md-4 mt-2 m-auto ">
            <button class="loginBtn loginBtn--google" #loginRef>
              Login with Google
            </button>
        </div>
    </div>
</div> -->


<div class="container" id="formulario">
    <mat-card class="example-card">
        <form [formGroup]="form" #categoryForm="ngForm" class="example-form" (ngSubmit)="submitForm(form, categoryForm)">
            <input type="hidden" name="subcategoria" formControlName="subcategoria">

            <!-- <mat-radio-group aria-label="Select an option" name="mercado" formControlName="mercado">
                <mat-radio-button *ngFor="let op of tipoEleccion" [value]="op">
                    {{op}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{op}}</div> -->

            <!-- <mat-radio-group aria-label="Select an option" (ngModelChange)="getIdEstado($event)" name="modelo3d" formControlName="modelo3d">
                <mat-radio-button *ngFor="let item of objetos" [value]="item.id">
                    {{item.name}}
                </mat-radio-button>
            </mat-radio-group> -->

            <mat-form-field appearance="fill">
                <mat-label>Elegir Modelo</mat-label>
                <mat-select (ngModelChange)="getIdEstado($event)" name="modelo3d" formControlName="modelo3d">
                    <mat-option *ngFor="let item of objetos" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <div>Your favorite season is: {{modelo3d}}</div> -->
            <table class="example-full-width" cellspacing="1">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Autor</mat-label>
                            <input matInput type="text" name="autor" formControlName="autor">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Fecha</mat-label>
                            <input matInput type="text" name="fecha" formControlName="fecha">
                        </mat-form-field>
                        <!-- {{ currentDate }} -->
                    </td>
                    <!-- <td>

                    </td> -->
                </tr>
            </table>


            <!-- IMAGEN -->
            <h3>Imagen del Producto</h3>
            <br>
            <div class="imagen">
                <div class="preview" *ngIf="preview && preview !== null">
                    <img [src]="preview" class="preview">
                </div>
            </div>

            <div class="imagen">
                <input type="file" name="upload" (change)="uploadFile($event)">
            </div>

            <br>
            <hr color="black" size=2>
            <br>
            <h3>Datos Generales</h3>
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Grupo Alimentario</mat-label>
                    <input matInput type="text" name="categoria" formControlName="categoria">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre Común</mat-label>
                    <input matInput type="text" name="nombre_comun" formControlName="nombre_comun">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre Cientifico</mat-label>
                    <input matInput type="text" name="nombre_cientifico" formControlName="nombre_cientifico">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Otros Nombres</mat-label>
                    <input matInput type="text" name="otro_nombre" formControlName="otro_nombre">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Origen</mat-label>
                    <textarea matInput type="text" name="origen" formControlName="origen"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Conservación del Producto</mat-label>
                    <textarea matInput type="text" name="conservacion_alimento" formControlName="conservacion_alimento"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Morfología: descripción del producto</mat-label>
                    <textarea matInput type="text" name="description" formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Temporada de siembra y cosecha:</mat-label>
                    <textarea matInput type="text" name="temporada" formControlName="temporada"></textarea>
                </mat-form-field>

            </p>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="campos">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" name="presentacion" formControlName="presentacion">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="campos">
                            <mat-label>Unidades</mat-label>
                            <input matInput type="text" name="unidades" formControlName="unidades">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <br>
            <hr color="black" size=2>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <h5>Ubicación Comercial Ciudad de Loja </h5>
                        <h6>Mercados Populares</h6>
                        <mat-radio-group aria-label="Select an option" name="mercado" formControlName="mercado">
                            <mat-radio-button *ngFor="let op of tipoEleccion" [value]="op">
                                {{op}}
                            </mat-radio-button>
                        </mat-radio-group>

                        <h6>Supermercados</h6>
                        <mat-radio-group aria-label="Select an option" name="supermercado" formControlName="supermercado">
                            <mat-radio-button *ngFor="let op of tipoEleccion" [value]="op">
                                {{op}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td>
                        <br>
                        <br>
                        <h5>Valor Nutricional: calórico </h5>
                        <mat-form-field class="example-full-width">
                            <mat-label>Kcal:</mat-label>
                            <input matInput type="text" name="kilocalorias" formControlName="kilocalorias" placeholder="Ex. 124 kcal">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Glúcidos:</mat-label>
                            <input matInput type="text" name="glucidos" formControlName="glucidos" placeholder="Ex. 14 g">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Proteínas:</mat-label>
                            <input matInput type="text" name="proteinas" formControlName="proteinas" placeholder="Ex. 19,50 g">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Lípidos:</mat-label>
                            <input matInput type="text" name="lipidos" formControlName="lipidos" placeholder="Ex. 	0.17 g">
                        </mat-form-field>
                    </td>
                </tr>
            </table>


            <div class="col text-center">
                <button mat-raised-button class="botones" color="primary" [disabled]='!form.valid'>Agregar</button>
            </div>
        </form>
    </mat-card>
</div>