<hr color="blue" size=2>
<div class="container">
    <h2>FICHA TÉCNICA DE PRODUCTO</h2>
</div>

<hr color="blue" size=2>

<!-- <div class="container">
    <div class="col text-center">
        <button mat-raised-button class="botones" color="primary" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Visualizar Alimentos</button>
    </div>
</div> -->

<div class="container" id="formulario">
    <mat-card class="example-card">
        <form #alimentoForm="ngForm" (ngSubmit)="addAlimento(alimentoForm)" class="example-form">
            <!-- Id SubCategoria -->
            <input type="hidden" name="subcategoria" #subcategoria="ngModel" [(ngModel)]="idSubCategoria">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Autor</mat-label>
                            <input matInput type="text" name="autor" #autor="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.autor">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Fecha</mat-label>
                            <input matInput type="text" name="fecha" #fecha="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.fecha">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <br>
            <hr color="black" size=2>
            <br>
            <h2>Datos Generales</h2>
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Grupo Alimentario</mat-label>
                    <input matInput type="text" name="categoria" #categoria="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.categoria">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre Común</mat-label>
                    <input matInput type="text" name="nombre_comun" #nombre_comun="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.nombre_comun">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre Cientifico</mat-label>
                    <input matInput type="text" name="nombre_cientifico" #nombre_cientifico="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.nombre_cientifico">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Otros Nombres</mat-label>
                    <input matInput type="text" name="otro_nombre" #otro_nombre="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.otro_nombre">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Origen</mat-label>
                    <textarea matInput type="text" name="origen" #origen="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.origen"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Conservación del Producto</mat-label>
                    <textarea matInput type="text" name="conservacion_alimento" #conservacion_alimento="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.conservacion_alimento"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Morfología: descripción del producto</mat-label>
                    <textarea matInput type="text" name="description" #description="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.description"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Temporada de siembra y cosecha:</mat-label>
                    <textarea matInput type="text" name="temporada" #temporada="ngModel"
                        [(ngModel)]="alimentoService.selectedAlimento.temporada"></textarea>
                </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" name="presentacion" #presentacion="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.presentacion">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Unidades</mat-label>
                            <input matInput type="text" name="unidades" #unidades="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.unidades">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <br>

            <hr color="black" size=2>
            <!-- <h5>Ubicación Comercial Ciudad de Loja </h5> -->

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <h5>Ubicación Comercial Ciudad de Loja </h5>
                        <h6>Mercados Populares</h6>
                        <mat-radio-group aria-label="Select an option" name="mercado" #mercado="ngModel"
                            [(ngModel)]="alimentoService.selectedAlimento.mercado">
                            <mat-radio-button *ngFor="let op of tipoEleccion" [value]="op">
                                {{op}}
                            </mat-radio-button>
                        </mat-radio-group>

                        <h6>Supermercados</h6>
                        <mat-radio-group aria-label="Select an option" name="supermercado" #supermercado="ngModel"
                            [(ngModel)]="alimentoService.selectedAlimento.supermercado">
                            <mat-radio-button *ngFor="let op of tipoEleccion" [value]="op">
                                {{op}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td>
                        <br>
                        <br>
                        <h5>Valor Nutricional: calórico </h5>
                        <mat-form-field class="example-full-width">
                            <mat-label>Kcal:</mat-label>
                            <input matInput type="text" name="kilocalorias" #kilocalorias="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.kilocalorias"
                                placeholder="Ex. California">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Glúcidos:</mat-label>
                            <input matInput type="text" name="glucidos" #glucidos="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.glucidos" placeholder="Ex. California">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Proteínas:</mat-label>
                            <input matInput type="text" name="proteinas" #proteinas="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.proteinas" placeholder="Ex. California">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Lípidos:</mat-label>
                            <input matInput type="text" name="lipidos" #lipidos="ngModel"
                                [(ngModel)]="alimentoService.selectedAlimento.lipidos" placeholder="Ex. California">
                        </mat-form-field>
                    </td>
                    <!-- <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Postal Code</mat-label>
                            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field>
                    </td> -->
                </tr>
            </table>
            <div class="col text-center">
                <button mat-raised-button class="botones" color="primary">Guardar</button>
                <button mat-stroked-button class="botones" color="warn"
                    (click)="resetForm(alimentoForm)">Limpiar</button>
            </div>
        </form>
    </mat-card>
</div>