.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.container h2 {
    color: rgb(0, 63, 114);
}

#formulario {
    margin-top: 40px;
}


/*IMagen*/

.imagen {
    text-align: center;
}

.preview {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}


/* tarjeta */

.example-card {
    /* background-color:rgb(224, 222, 216); */
    margin: 30px;
}

.example-form {
    min-width: 200px;
    max-width: 1100px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.campos {
    /* margin-right: 10px; */
    width: 100%;
    /* min-width: 30%; */
}


/* Radio Button */

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}


/* botones */

.botones {
    margin-left: 20px !important;
}