<div class="vuser">
    <div class="container">
        <h3 class="text-center font-weight-bold">Usuarios</h3>
        <div id="adduser" class="row">

            <button mat-mini-fab class="caddicon" type="button" routerLink="/registrousuario" routerLinkActive="active">
                <mat-icon class="addicon">add_circle</mat-icon>
            </button>

        </div>

        <div class="row" id="content">
            <div class="col-6 col-md-4" *ngFor="let user of usersdata">
                <mat-card class="tarjetauser">

                    <div class="row">
                        <div class="col col-md-12">
                            <mat-card-title class="col"></mat-card-title>

                            <label class="font-weight-bold">Nombre: </label>

                            <span class="userN"> {{user.name}} {{user.lastname}} </span>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <button mat-mini-fab class="cediticon" [routerLink]="['/editarusuario/', user._id]"
                            routerLinkActive="active">
                            <mat-icon class="editicon">create</mat-icon>
                        </button>

                        <button mat-mini-fab class="cdeleteicon" (click)="deleteuserinformation(user._id)">
                            <mat-icon class="deleteicon">delete_sweep</mat-icon>
                        </button>
                    </div>

                </mat-card>
            </div>
        </div>

    </div>
</div>