
<div class="vuser">
    <div class="container">
        <h3 class="text-center font-weight-bold">Usuarios</h3>
        <div id="adduser" class="row">

            <button mat-mini-fab class="caddicon" type="button" routerLink="/registrousuario" routerLinkActive="active">
                <mat-icon class="addicon">add_circle</mat-icon>
            </button>

        </div>

        <mat-card class="tarjetauser" *ngFor="let user of usersdata">


            <div class="row">
                <div class="col col-md-8">
                    <mat-card-title class="col"></mat-card-title>

                    <div class="row">

                        <div class="col-sm">
                            <label class="font-weight-bold">Nombre: </label>

                            <span> {{user.name}} {{user.lastname}}</span>

                        </div>
                    </div>



                </div>
                <div class="col col-md-4 ">
                    <div class="row justify-content-md-center">


                        <button mat-mini-fab class="cediticon" [routerLink]="['/editarusuario/', user._id]" routerLinkActive="active">
                            <mat-icon class="editicon"  >edit_circle</mat-icon>
                        </button>


                        <button mat-mini-fab class="cdeleteicon" (click)="deleteuserinformation(user._id)">
                            <mat-icon class="deleteicon">delete_circle</mat-icon>
                        </button>
                    </div>



                </div>

            </div>

        </mat-card>
    </div>
</div>
