<h2 mat-dialog-title>Agregar Subcategoria</h2>
<mat-dialog-content fxLayout="column">
    <form #subcategoryForm="ngForm" class="example-form" (ngSubmit)="addSubCategory(subcategoryForm)">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre Sub Categoria</mat-label>
          <input type="text"matInput name="name" #name="ngModel" [(ngModel)]="subcategoriaAlimentoService.selectedsubCategory.name" placeholder="Ingrese Sub Categoria">
        </mat-form-field>
        <mat-form-field class="invisible">
            <mat-label>IdCategoria</mat-label>
            <input type="text" matInput name="categoria" #name="ngModel" [(ngModel)]="idCategoria" placeholder="Ingrese Sub Categoria">
          </mat-form-field>
        <div class="col text-center" id="boton">
            <button mat-raised-button class="botones" color="primary" mat-dialog-close>Agregar</button>
            <button mat-stroked-button class="botones" (click)="resetForm(categoryForm)" color="warn" mat-dialog-close>Salir</button>
        </div>
    </form>
</mat-dialog-content>