.container {
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: auto; */
}

.container h2 {
    color: rgb(0, 63, 114);
}

.example-form {
    min-width: 150px;
    max-width: 450px;
    width: 100%;
}

#tarjeta-alimento {
    background: rgb(234, 171, 0);
}

.titulo-propiedad {
    color: rgb(0, 63, 114);
}


/*IMagen */

.header-image {
    width: 70px;
    height: 60px;
    background-size: cover;
    border-radius: 45%;
}

.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 100%;
    margin-top: 25px;
}


/* #botones {
    margin-left: 20px !important;
} */

#boton-editar {
    margin-left: 20px !important;
    background: rgb(129, 119, 88);
}

#boton-borrar {
    margin-left: 20px !important;
    background: rgb(167, 25, 48);
}

#boton {
    margin-top: 30px;
}

.botones {
    margin-left: 20px !important;
}