<hr color="blue" size=2>

<div class="container">
  <h2>Subcategoria de Alimentos</h2>
  <!-- <div class="col text-center" id="boton">
        <button mat-raised-button class="botones" color="primary" (click)=" ModalSubcategoria()">Agregar Subcategoria</button>
    </div> -->
</div>

<div class="container" id="formulario">
  <mat-card class="example-card">

    <!-- Formulario SubCategorias -->
    <form #subcategoryForm="ngForm" class="example-form" (ngSubmit)="addSubCategory(subcategoryForm)">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subcategoriaAlimentoService.selectedsubCategory._id">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Sub Categoria</mat-label>
        <input type="text" matInput name="name" #name="ngModel"
          [(ngModel)]="subcategoriaAlimentoService.selectedsubCategory.name" placeholder="Ingrese Sub Categoria">
      </mat-form-field>
      <mat-form-field class="invisible">
        <mat-label>IdCategoria</mat-label>
        <input type="text" matInput name="categoria" #name="ngModel" [(ngModel)]="idCategoria"
          placeholder="Ingrese Sub Categoria">
      </mat-form-field>

      <div class="col text-center">
        <button mat-raised-button  color="primary">Agregar</button>
      </div>
    </form>
  </mat-card>
</div>

<div class="container">
  <mat-card class="example-card" *ngFor="let subcategory of subcategoriaAlimentoService.subcategories">
    <div class="float-right">
      
      <button class="float-right" id="botones" (click)="deleteSubCategory(subcategory._id)" mat-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="float-right" id="botones" (click)="editSubCategory(subcategory)" mat-fab color="accent">
        <mat-icon>create</mat-icon>
      </button>
      <button class="float-right" id="botones" mat-fab color="primary" routerLink="/registroalimento">
        <mat-icon>addchart</mat-icon>
      </button>
      

    </div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="col text-center">{{subcategory.name}}</mat-card-title>
      <!-- <mat-card-subtitle> {{subcategory.categoria}} </mat-card-subtitle> -->
    </mat-card-header>

    <!-- <mat-card-content>
        <p>
         e
        </p>
      </mat-card-content> -->
    <mat-card-actions>
      <!-- <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>addchart</mat-icon>
        </button> -->
      <button mat-stroked-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>