.contenedor {
    width: 100%;
    height: fit-content;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: auto; */
}

.container h2 {
    color: rgb(0, 63, 114);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.carga-imagen {
    text-align: center;
    margin: 10px;
}

.preview {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

#tarjeta-subcategoria {
    background: rgb(234, 171, 0);
    margin-top: 20px;
}

#tituloSubcategoria {
    color: rgb(0, 63, 114);
}

.header-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 45%;
}

#formulario {
    min-width: 150px;
    max-width: 550px;
}

.invisible {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}


/* .grid-lista {
    margin-top: 15px;
} */

.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 100%;
    /* margin-top: 25px; */
    margin: auto;
}

#botones {
    margin-left: 20px !important;
}


/* #boton {
    margin-top: 30px;
} */

#boton-editar {
    margin-left: 10px !important;
    background: rgb(129, 119, 88);
}

#boton-borrar {
    margin-left: 10px !important;
    background: rgb(167, 25, 48);
}

#boton-agregar {
    margin-left: 10px !important;
    background: rgb(0, 63, 114);
}