<hr color="blue" size=2>

<div class="container">
  <h2>Categoría de Alimentos</h2>

</div>
<!-- INgresar Categorias -->
<div class="container" id="formulario">
  <mat-card class="example-card">

    <!-- Formulario Categorias -->
    <form #categoryForm="ngForm" class="example-form" (ngSubmit)="addCategory(categoryForm)">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Categoria</mat-label>
        <input type="text"matInput  name="name" #name="ngModel" [(ngModel)]="categoriaAlimentoService.selectedCategory.name" placeholder="Ingrese Categoria">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea matInput name="description" #name="ngModel" [(ngModel)]="categoriaAlimentoService.selectedCategory.description" placeholder="Esta categoria de alimentos es..."></textarea>
      </mat-form-field>
      <div class="col text-center">
        <button mat-raised-button class="botones" color="primary">Agregar</button>
        <button mat-stroked-button class="botones" (click)="resetForm(categoryForm)" color="warn">Limpiar</button>
      </div>
    </form>
  </mat-card>
</div>

<div class="container">
  <mat-card class="example-card" *ngFor="let category of categoriaAlimentoService.categories">
    <div class="float-right">
      <button class="float-right" mat-fab color="primary" [routerLink]="['/registrosubcategoria', category._id]" routerLinkActive="router-link-active"  >
        <mat-icon>addchart</mat-icon>
      </button>
    </div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{category.name}}</mat-card-title>
      <mat-card-subtitle>{{category.id}} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{category.description}}
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-stroked-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions> -->
  </mat-card>
</div> 

