<div class="conteiner">
    <mat-card class="tarjeta" >
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{img_src}}"  alt="" />

                </div>

            </div>
            <div class="col-md-6">
                <mat-card-title class="col">{{profiledata.username}}</mat-card-title>

                <div class="row">
                    <div class="col-md-2">
                        <label>Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{profiledata.name}} {{profiledata.lastname}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{profiledata.email}}</p>
                    </div>
                </div >
                <div class="row">
                    <mat-card-actions>
                        <button mat-flat-button id="btnEditar">Editar perfil</button>
                    </mat-card-actions>
                </div>

            </div>
        </div>


       
    </mat-card>
</div>